/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/movie-providers.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.movie-providers_wrapDiv__OktNI {display:flex; width:100%; box-sizing:border-box;}
.movie-providers_wrapDiv__OktNI > div {flex:1 1;}

.movie-providers_flexList__3u5GA {
  display:flex;
  margin-top:10px;
}
.movie-providers_flexList__3u5GA li {
  margin-right:10px;
}
.movie-providers_flexList__3u5GA li img {width:30px; border-radius:5px;}
.movie-providers_flexList__3u5GA .movie-providers_subTxt__CagT_ {margin-top:5px; font-size:12px;}

.movie-providers_noneTxt__j2ZQI {margin-top:20px; font-size:14px;}
