.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}

.poster {
  border-radius: 20px;
  max-width: 70%;
  place-self: center;
}

.title {
  color: white;
  font-size: 36px;
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.product_list {
  padding-left:20px;
  font-size:13px;
  list-style:disc;
}
.product_list img {max-width:30px;}