.container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap:40px;
  padding-top:40px;
}

.box {
  overflow:hidden;
  text-align:center;
}
.box img {
  width:100%; 
  border-radius:20px;
}
.box img.cursor {
  cursor:pointer;
}
.tit {
  padding-top:10px;
  font-size:16px;
}
.subTit {
  padding-top:5px;
  font-size:12px;
  color:#999;
}

.imgNotFound {
  position:relative;
  width:100%;
  padding-top:55.82%;
  border-radius:20px;
  background:rgba(255, 255, 255, 0.1);
  cursor:pointer;
}
.imgNotFoundCredit{
  position:relative;
  width:100%;
  padding-top:149.69%;
  border-radius:20px;
  background:rgba(255, 255, 255, 0.1);
}
.imgNotFound .txt, .imgNotFoundCredit .txt {
  position:absolute;
  top:50%;
  left:50%;
  font-size:12px;
  transform: translate(-50%, -50%);
}