/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/movie-credits.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.movie-credits_container___Ig2S {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap:40px;
  gap:40px;
  padding-top:40px;
}

.movie-credits_box__5lU4g {
  overflow:hidden;
  text-align:center;
}
.movie-credits_box__5lU4g img {
  width:100%; 
  border-radius:20px;
}
.movie-credits_box__5lU4g img.movie-credits_cursor__BsoGZ {
  cursor:pointer;
}
.movie-credits_tit__ZnIoX {
  padding-top:10px;
  font-size:16px;
}
.movie-credits_subTit__8pTJZ {
  padding-top:5px;
  font-size:12px;
  color:#999;
}

.movie-credits_imgNotFound__c_wwz {
  position:relative;
  width:100%;
  padding-top:55.82%;
  border-radius:20px;
  background:rgba(255, 255, 255, 0.1);
  cursor:pointer;
}
.movie-credits_imgNotFoundCredit__eTeIo{
  position:relative;
  width:100%;
  padding-top:149.69%;
  border-radius:20px;
  background:rgba(255, 255, 255, 0.1);
}
.movie-credits_imgNotFound__c_wwz .movie-credits_txt__uhIOX, .movie-credits_imgNotFoundCredit__eTeIo .movie-credits_txt__uhIOX {
  position:absolute;
  top:50%;
  left:50%;
  font-size:12px;
  transform: translate(-50%, -50%);
}
